*{margin: 0; padding: 0;}


.logo {float: left;height: 100%;}

.head {
    width: 100vw;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.logo_wrap {
    height: 100px;
    background: #ff8fa2;
    float: left;
    width: 30%;
}

.navber_res {
    font-size: 2rem;
    float: right;
    padding: 30px;
    display:none;
}
.wrapper {
    height: 100px;

}


ul.mainList {
    display: table;
    float: right;
    height: 100%;
    list-style: none;
}

a {
    color: #650606;;
    text-decoration: none;
    font-size: 1.3rem;
}
ul.mainList li {
    float: left;
    padding: 37px 22px;
}

.nevBar {
    width: 70%;
    height: 100%;
    float: right;
    background: #ff8fa2;
}

ul.dropdown1 {
    background: #fbb9c4;
    list-style: none;
    position: absolute;
    top: 100px;
    right: 261px;
    width: 200px;
    transition: .3s ease-in-out all;
    transform: rotateX(90deg);
    transform-origin: top;
}

ul.dropdown1 li {
    float: none;
    padding: 0;
}
ul.dropdown2 {
    list-style: none;
    background: #ffdbe1;
    position: absolute;
    right: -200px;
    width: 200px;
    transform: rotateX(90deg);
    transform-origin: top;
    transition: .3s ease-in-out all;
}
ul.dropdown1 li a {
  border-bottom: 1px solid white;
  display: block;
  padding: 10px 20px;
}


@media screen {
  li.firstnev:hover ul.dropdown1 {
      transform: rotateX(0deg);
  }

  li.secndtnev:hover ul.dropdown2 {
      transform: rotateX(0deg);
  }
}








;
